@-moz-document domain("myworkday.com") {
/* Workday (student?) avatar replacer, version 0.1.2
 * This is licensed under CC0 (public domain) and will be updated on <https://codeberg.org/gfl/workday-student-userstyles>.
 * For support, please yell at me on https://reddit.com/u/lessquestionablename.
 */

:root {
    /* Replace content inside "url" with either a link to your image or a base64-URL encoded image
     * https://base64.guru/converter/encode -> Output format: Data URI
     */
    --replacement-image: url("data:/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAKSURBVAiZY/AHAABRAFB0KtOpAAAAAElFTkSuQmCC");
}


button[data-automation-id="Current_User"] img {
    content: var(--replacement-image);
}

li[data-automation-id="hammy_current_user_item"] img {
    content: var(--replacement-image);
}

img[alt*="employee photo"] {
    content: var(--replacement-image);
}

img[alt*="Employee's Photo"] {
    content: var(--replacement-image);
    background-image: none !important;
}
}